{% extends "layout.html" %}
{% block body %}
<section>
<h2>Lobotomy Info Storehouse</h2>
<div class="tabs">
  <input id="all" type="radio" name="tab_item" checked>
  <label class="tab_item" for="all">作業</label>
  <input id="programming" type="radio" name="tab_item">
  <label class="tab_item" for="programming">クリフォトカウンター</label>
  <input id="design" type="radio" name="tab_item">
  <label class="tab_item" for="design">E.G.O</label>
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp">作業の内容がここに入ります</p>
    </div>
  </div>
  <div class="tab_content" id="programming_content">
    <div class="tab_content_description">
      <p class="c-txtsp">クリフォトカウンターの内容がここに入ります</p>
    </div>
  </div>
  <div class="tab_content" id="design_content">
    <div class="tab_content_description">
      <p class="c-txtsp">E.G.Oの内容がここに入ります</p>
    </div>
  </div>

</div>
</section>
{% endblock %}